body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: white;
}

div, label, img, input, span, i, b, p, video, audio, object, h1, h2, h3, pre, canvas, iframe {
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.filler {
    width: 100%;
    height: 100%;
}

.fullscreen {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.content-screen {
    left: 64px;
    right: 64px;
    top: 36px;
    bottom: 36px;
}

.log {
    text-align: left;
    font-size: 16px;
    font-family: monospace;
}

.log span {
    display: inline;
    position: relative;
}